<mat-card>

  <mat-card-title>
    Please enter the following information to generate your quiz.
  </mat-card-title>

  <mat-card-content class="form-group">

    <div class="number-of-questions form-control">

      <mat-form-field class="number-of-questions">
  
        <mat-label for="amount">Number of questions</mat-label>
        <input matInput name="amount">
  
      </mat-form-field>

    </div>

    <div class="select-category form-control">

      <mat-form-field appearance="fill">

        <mat-label for="category">Category</mat-label>
        <mat-select name="category">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>

      </mat-form-field>

    </div>

    <div class="select-difficulty form-control">

      <mat-form-field appearance="fill">

        <mat-label for="difficulty">Difficulty</mat-label>
        <mat-select name="difficulty">
          <mat-option value="easy">Easy</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="hard">Hard</mat-option>
        </mat-select>

      </mat-form-field>

    </div>

    <div class="select-type form-control">

      <mat-form-field appearance="fill">

        <mat-label for="type">Options type</mat-label>
        <mat-select name="type">
          <mat-option value="multiple">Multiple Choice</mat-option>
          <mat-option value="boolean">True / False</mat-option>
        </mat-select>

      </mat-form-field>

    </div>

  </mat-card-content>

  <mat-card-actions align="end">

    <button mat-flat-button color="primary">START QUIZ</button>

  </mat-card-actions>

</mat-card>
