.form-card {
  position: relative;
  top: 1em;
  background-color: #252d4a;

  .card-title {
    text-align: center;
  }

  .form-group {
    padding: 2px 5px 5px 5px;
    position: relative;
    top: 10px;
  
    mat-form-field {
      width: 60%;
    }
  
    .form-control {
      margin-bottom: 10px;
    }

    .submit-btn {
      display: flex;
      justify-content: flex-end;
      margin-right: -8px;
    }
  }
}
